body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    
}

footer {
    margin: 0;
    background-color: #151515;
    padding: 40px;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
}

.box{
    background-color: #181818;
    border: 0;
    outline: 0;
    padding: 45px;
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
    color: #02cfa6
    
}

.header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.section {
    background: linear-gradient(180deg, #02cfa6 0%, #001712 100%);
    display: flex;
    justify-content: center;
}

.image{
    max-width: 90%;
}

.botao {
    background-color: #02cfa6;
    color: #001712;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    margin: 30px auto;
    border-radius: 50px;
    border: none;
}

fieldset {
  border: solid #363636 2px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px auto;
}

.caixas_de_texto {
    background-color: #181818;
    border: none;
}

.preencha {
    color: aliceblue;
}