/* 1. O PAI: Controla a largura e o formato de todo o card */
.card_container {
    display: flex;
    flex-direction: column;
    width: 282px;          /* A largura fica AQUI */
    border-radius: 10px;   /* Arredonda o card INTEIRO */
    overflow: hidden;      /* Mágica que corta a quina quadrada da imagem pra seguir o border-radius */
    background-color: #212121;
}


.imagem {
    display: block;        /* Tira o espacinho fantasma embaixo da foto */
    width: 100%;           /* Preenche os 282px do pai */
    height: auto;
}

/* 3. OS TEXTOS: Preenchem o espaço que sobra e centralizam */
.tag {
    background-color: #212121;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 4px 20px;
    gap: 8px;
    width: 100%;           /* Preenche os 282px do pai */
    box-sizing: border-box;/* MUITO IMPORTANTE: Impede que o padding faça a caixa passar de 282px */
}

.tag p, 
.tag h4, 
.tag h5 {
    margin: 10px 4px;
}

.tema {
    background-color: rgb(100, 100, 100);
    padding: 4px;
    width: 118px;
    border: none;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    
}

.mulheres_no_front {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    /*line-height: 120%;    isso é tipo um padding só qque vertical*/
    /*letter-spacing: 10%;  isso é o espaçamento entre as letras*/
}

.data {
    /*font-family: 'Montserrat regular' sans-serif;
    font-weight: bold;*/
}

.desc {
    font-family: 'Montserrat' sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.icone_calendario{
    height: 15px;
    width: 14px;
    margin-right: 6px;
}