body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    
}

footer {
    margin: 0;
    background-color: #151515;
    padding: 40px;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
}

.box{
    background-color: #181818;
    border: 0;
    outline: 0;
    padding: 45px;
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
    color: #02cfa6
    
}

.header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.section {
    background: linear-gradient(180deg, #02cfa6 0%, #001712 100%);
    display: flex;
    justify-content: center;
}

.image{
    max-width: 90%;
}

.botao { /* Estilo dos botões */
    background-color: #02cfa6;
    color: #001712;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    margin: 30px auto;
    border-radius: 50px;
    border: none;
    cursor: pointer; /* Esse comando serve pro cursor do mouse mudar a "mãozinha" quando passa em cima do botão */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.botao:hover { /* Mudar a cor dos botões quando o mouse passar em cima */
  background-color: #5efcdd;
}

.botao:active { /* Dar o efeito de profundidade quando clicar no botão */
  transform: translateY(3px);
  box-shadow: 0 0 0 darkgreen;
}

fieldset {
  border: solid #363636 2px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px auto;
}

.caixas_de_texto {
    border: none;
  color: aliceblue;
  outline: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.preencha {
    color: aliceblue;
}

.div {
    background-color: #181818;
    border-radius: 50px;
    max-width: 90%;
    margin: 64px auto;
    width: 400px;
    padding: 20px;
    
}

.acesso {
    color: aliceblue;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}