.titulos-tema {
    color: aliceblue;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 14.2%; /* <-- Use um valor POSITIVO para empurrar da borda esquerda para a direita */
    padding: 20px;
    
    align-items: center; /* Puxa os cards horizontalmente para o centro */
}

